DB_HOST=localhost
DB_PORT=3306
DB_NAME=animalsworldapi
DB_USER=<usuario-do-mysql>
DB_PASSWORD=<senha-do-mysql>

SERVER_PORT=8889

INITIAL_EMPLOYEE_LOGIN=<login-do-funcionario-inicial>
INITIAL_EMPLOYEE_PASSWORD=<senha-do-funcionario-inicial>
INITIAL_EMPLOYEE_NAME=<nome-completo>
INITIAL_EMPLOYEE_EMAIL=<email>
INITIAL_EMPLOYEE_SSN=<000-00-0000>
